Flask==1.0.3
mmh3==2.5.1
numpy==1.16.4
Werkzeug>=0.14
requests>=2.7.0
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
dashbot==0.0.18
dialogflow==0.6.0
flask-cors==3.0.8
google-api-core==1.13.0
google-auth==1.6.3
google-cloud-core==1.0.2
google-cloud-datastore==1.8.0
google-cloud-logging==1.12.1
googleapis-common-protos==1.6.0
google-api-python-client==1.7.9
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.0
grpcio==1.21.1
idna==2.8
protobuf==3.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pytz==2019.1
rsa==4.7
six==1.12.0
urllib3==1.25.3
